body {
	font-family: "Bigelow Rules", cursive;
	font-family: "Open Sans", sans-serif;
	padding: 20px;
}

a {
	text-decoration: none;
	color: black;
}

#root {
	max-width: 1024px;
	margin: auto;
}

* {
	box-sizing: border-box;
}
